<p>Books</p>
<div *ngFor="let book of books; index as bookId">

  <h3>
  <a [title]="book.name + ' details'" [routerLink]="['/books',bookId]">
    {{ book.name }}
    </a>
  </h3>
<p *ngIf="book.resume">
  Resume: {{ book.resume }}
</p>

<button (click)="share()">
  share
</button>
  <app-book-alerts
  [book] = "book"
  (notify)="onNotify()">
  </app-book-alerts>
</div>



